body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#square-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.square {
  border: 1px solid var(--surface);
  border-collapse: collapse;
  text-align: center;
  outline: none;
  width: 2rem;
  height: 2rem;
  color: var(--text);
}

.square:disabled {
  background: none;
  color: var(--lavender);
}

.square:nth-child(27n + 1),
.square:nth-child(27n + 2),
.square:nth-child(27n + 3),
.square:nth-child(27n + 4),
.square:nth-child(27n + 5),
.square:nth-child(27n + 6),
.square:nth-child(27n + 7),
.square:nth-child(27n + 8),
.square:nth-child(27n + 9) {
  border-top: 2px solid var(--subtext);
}

.square:nth-child(9n + 1) {
  border-left: 2px solid var(--subtext);
}

.square:nth-child(9n),
.square:nth-child(3n) {
  border-right: 2px solid var(--subtext);
}

.square:nth-child(n + 73) {
  border-bottom: 2px solid var(--subtext);
}
